################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/CalculateFilesHashCodes/obj
/CalculateFilesHashCodes/bin/Debug/net6.0
/CalculateFilesHashCodes/bin/Release/net6.0
